body, html {
  font-family: arial;
  line-height: 1.6; }

.section {
  padding: 0 0.5rem; }

header {
  display: flex;
  justify-content: space-between;
  background: #000;
  color: #fff; }

header ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  header ul li {
    display: inline; }
    header ul li:last-child:after {
      content: '';
      padding: 0; }
    header ul li:after {
      content: '|';
      padding: 0 4px; }

header .logo {
  display: flex;
  align-items: center; }

footer {
  display: flex;
  background: #000;
  color: #fff; }

a {
  color: #000;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

a.inverted {
  color: #fff; }

.app {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #000; }

.news-section {
  min-height: 30rem;
  margin: .6rem 0; }

.news-item {
  margin-top: .3rem; }
  .news-item .mainline {
    line-height: 1; }
    .news-item .mainline .source {
      font-size: .8rem;
      color: gray; }
  .news-item .byline {
    color: gray;
    font-size: .7rem;
    line-height: 1rem; }

.about-section {
  min-height: 30rem; }
