/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Main
 */

.content {
    flex: 1 0 auto; /* 2 */
}

/* Article item */
.article {
    margin-bottom: 10px;
    clear: both;
}

.article-cell {
    overflow: hidden;
    padding-left: 18px;
}

.article-importance {
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}

.article-title {
    color: rgb(17, 85, 204);
    font-size: 1.5em;
    font-weight: bold;
    line-height: 90%;
}

.article-secondary-info {
    color: #828282;
    font-size: .9em;
}

.article-secondary-info i {
    padding-left: 4px;
}

.article-numbering {
    font-size: 1.3em;
    /*font-weight: bold;*/
    color: #828282;
    float: left;
    text-align: center;
    min-width: 3em;
}

.article-thumbnail {
    font-size: 1.3em;
    /*font-weight: bold;*/
    color: #999;
    float: left;
    text-align: center;
    width: 64px;
    height: 64px;
}

.article-thumbnail > img {
    border: 1px solid #ddd;
}

.pagination li {
    display: inline-block;
    cursor: pointer;
}

.pagination li .selected {
    font-weight: bold;
}

.pagination {
    margin-left: 20px !important;
}

/*
 * Other
 */

/*
 * Affix and center
 */

@media (max-width: 768px) {
    .article-numbering {
        font-size: 1em;
        min-width: 2em;
    }

    .article-title {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {

}