{% extends "base.html" %}

{% block stylesheets %}
    <link href="/css/news.css" rel="stylesheet">
    <link href="/css/about.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content">
        <h1>პროექტის შესახებ</h1>
        <div>
            ამ ვებ-გვერდის მიზანი არის რომ გაერთიანებულად წარუდგინოს მომხმარებელს საქართველოსთან დაკავშირებული ახალი ამბები.
        </div>

        <div>
            The goal of this website is to present to the reader an aggregated view of news related to the country of Georgia.
        </div>

        <div>
            <b>შეგიძლიათ ნახოთ პროექტის კოდი:</b> <a href="https://github.com/TornikeNatsvlishvili/skivri.ge">https://github.com/TornikeNatsvlishvili/skivri.ge</a>
            <br>
            <b>პროექტი ავტორი:</b> თორნიკე ნაცვლიშვილი
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/js/analytics.js" async></script>
{% endblock %}