/*
 * Globals
 */

/*
 * Base structure
 */
html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #000;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    display: flex;
    flex-direction: column;
}

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

/*
 * Other
 */

.gone {
    display: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    display: block;
}

.no-padding {
    padding: 0;
}

/* Nav */
#customize {
    font-weight: bold;
    color: red;
}

