/*
 * Globals
 */

/*
 * Base structure
 */
html, body {
    height: 100%;
    background: #fffbfa;
}

body {
    margin: 0;
    color: #000;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    display: flex;
    flex-direction: column;
}

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

a.active {
    border-bottom: 4px solid crimson;
}

/*
 * Menu
 */

.menu {
    padding-left: 10px;
    height:100%;
}

.menu-item {
    display: flex;
    align-items: center;
    height:100%;
    border-bottom: 4px solid #ff9b97;
}

.menu-item:hover {
    border-bottom: 4px solid crimson;
}

/*
 * Footer
 */

footer {
    background: #FCDACF;
    border-top: solid thin #ff9b97;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    height: 25px;
    flex: none;
}


/*
 * Other
 */

.center{
    text-align: center;
}

.gone {
    display: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    display: block;
}

.no-padding {
    padding: 0;
}

/* Nav */
#customize {
    font-weight: bold;
    color: red;
}

