/*
 * Globals
 */
 
/*
 * Base structure
 */
html,
body {
  height: 100%;
}
body {
  color: #000;
  font-family: arial, sans-serif;
}

/*
 * Other
 */

.gone {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  display: block;
}

.no-padding {
  padding: 0;
}

/* Nav */
#customize {
  font-weight: bold;
  color: red;
}

