/* Links */
a,
a:focus,
a:hover {
    color: #333;
}
a.selected {
    font-weight: bold;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Header
 */
header {
    background: #FCDACF;
    border-bottom: solid thin #ff9b97;
    margin-bottom: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    flex: none;
}

header .logo {
    color: #000;
    display: flex;
    align-items: center;
}

header .logo img{
    height: 25px;
    margin: 5px;
}

header .logo span{
    font-size: 20px;
}

.author {
    margin: 5px;
}

.lang-box {
    margin-left: auto;
    margin-right: 5px;
}

.lang-box a {
    cursor: pointer;
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Main
 */

.content {
    flex: 1 0 auto; /* 2 */
}

/* Article item */
.article {
    margin-bottom: 10px;
    clear: both;
}

.article-cell {
    overflow: hidden;
}

.article-importance {
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}

.article-title {
    color: rgb(17, 85, 204);
    font-size: 1.5em;
    font-weight: bold;
    line-height: 90%;
}

.article-secondary-info {
    color: #999;
    font-size: .9em;
}

.article-numbering {
    font-size: 1.3em;
    font-weight: bold;
    color: #999;
    float: left;
    text-align: center;
    min-width: 3em;
}

.pagination li {
    display: inline-block;
    cursor: pointer;
}

.pagination li .selected {
    font-weight: bold;
}

.pagination {
    margin-left: 20px !important;
}

/*
 * Footer
 */

footer {
    background: #FCDACF;
    border-top: solid thin #ff9b97;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    height: 25px;
    flex: none;
}

/*
 * Other
 */

/*
 * Affix and center
 */

@media (max-width: 768px) {
    .article-numbering {
        font-size: 1em;
        min-width: 2em;
    }

    .article-title {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {

}