<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="/image/ico" href="img/favicon.ico">
  <link rel="icon" type="/image/png" href="img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="/image/png" href="img/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="/image/png" href="img/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">

  <title>სკივრი</title>

  {% block stylesheets %}{% endblock %}
  <link href="/css/base.css" rel="stylesheet">
</head>


<body>
  <div class="container-fluid no-padding">
    {% block content %}{% endblock %}
  </div>

  <hr>
  <div class="row">
    <div class="text-center">
      <footer>
        <p>thanks, Tornike Natsvlishvili</p>
      </footer>
    </div>
  </div>

  <div id="articleDialog" class="gone">
  </div>


  </div>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/base.js"></script>
  <script src="/js/util.js"></script>
  {% block javascript %}{% endblock %}
</body>

</html>