{% extends "base.html" %}

{% set active_page = "us_elections" %}

{% block stylesheets %}
    <link href="css/elections.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
    <div class="text-center">
        <p class="lead">Campaing funds comparison:</p>

        <div class="col-md-4 col-md-offset-4">
            <div id="searchArea" class="input-group">
                <input type="text" class="form-control" id="NYTElectionsText" placeholder="Cycle eg. 2012, 2016"/>
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" data-btn="searchNYT">
                        <span class="glyphicon glyphicon-search search-span" aria-hidden="true"></span>
                        <span class="loading-span"><span
                                class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <div id="chart">

            </div>
            <p class="lead">Stories about selected candidate:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table id="resultTable" class="table table-hover table-striped invisible">
                <thead>
                <tr>
                    <th class="text-center">Type</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Date</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <p id="emptyResult" class="gone">
                No articles found.
            </p>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="js/charts.js"></script>
    <script src="js/elections/elections.js"></script>
{% endblock %}