{% extends "base.html" %} 

{% block stylesheets %}
<link href="/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="masthead">
  <img class="logo" src="/img/favicon-96x96.png"></img>
  <span class="title">სკივრი</span>
  <small>&nbsp; by <a href="http://tornike.ca">თორნიკე</a></small>
  
  <div class="lang-box">
    <a id="lang-eng">en</a>&nbsp;/&nbsp;<a id="lang-geo">ქარ</a>
  </div>
</div>

<div>
    {% for article in articles %}
      <div class="article">
        <div class="article-numbering">{{ article.id }} </div>
        <div class="article-importance gone">
            <div>^</div>
            <div>score</div>
            <div>v</div>
        </div>
        <div class="article-thumnail"></div>
        <div class="article-cell">
            <div class="article-title"><a href="{{ article.link }}">{{ article.title | removetags }}</a></div>
            <div class="article-secondary-info">{{ article.source }} - {{ article.date_pub | timedelta }}</div>
            <div class="article-description">{{ article.description | removetags }} </div>
        </div>
      </div>
    {% endfor %}
    <p id="emptyResult" class="gone">
      No articles found.
    </p>

    <ul class="pagination">
        {% if current_page > 3 %}
            <li><a class="page-buttons" data-page="1"><<</a></li>
        {% endif %}
        {% if total_pages < 6 %}
            {% for i in range(1, total_pages +1) %}
                {% if i == current_page %}
                    <li class="active"><a class="page-buttons" data-page="{{ i }}">{{ i }}</a></li>
                {% else %}
                    <li><a class="page-buttons" data-page="{{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for i in range(page_boundries.min, page_boundries.max) %}
                {% if i == current_page %}
                    <li class="active"><a class="page-buttons" data-page="{{ i }}">{{ i }}</a></li>
                {% else %}
                    <li><a class="page-buttons" data-page="{{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if current_page < total_pages - 2 and total_pages > 5 %}
            <li class="disabled"><a>..</a></li>
            <li><a class="page-buttons" data-page="{{ total_pages }}">{{ total_pages }}</a></li>
        {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/index.js"></script>
{% endblock %}