{% extends "base.html" %}

{% block stylesheets %}
    <link href="/css/trends.css" rel="stylesheet">
    <link href="/css/c3.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="center">
            <select id="Period">
                <option value="hour">1 Hour</option>
                <option value="two_hour">2 Hour</option>
                <option value="day">Day</option>
                <option value="week">Week</option>
            </select>
            <button id="getTrends">Get Trends</button>
        </div>

        <div class="chart">
            <h2>Trends in period:</h2>
            <div id="trendsChart"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/js/d3.min.js"></script>
    <script src="/js/c3.min.js"></script>
    <script src="/js/underscore.min.js"></script>
    <script src="/js/trends.js"></script>
{% endblock %}